{
  "plugins": [
    "react-hot-loader/babel",
    ["lodash", { "id": ["semantic-ui-react", "lodash"] }]
  ],
  "presets": [
    ["es2015", {"modules": false}],
    "stage-0",
    "react"
  ],
  "env": {
    "production": {
      "presets": ["react-optimize"]
    },
    "test": {
      "presets": [
        ["es2015"],
        "stage-0",
        "react"
      ]
    }
  }
}
